<% heading 'Update Floorplan' %>

<%= render 'form' %>

<br>
<%= link_to 'Back to Floorplans', floorplans_path, class:'btn btn-block btn-default' %>

<%= link_to @floorplan, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-block btn-danger' do %>
  <span class='glyphicon glyphicon-trash'></span>
<% end %>
