<% heading 'Update Listing' %>

<%= render 'form' %>

<br>
<%= link_to 'Back to Listings', flat_listings_path(@listing.flat), class:'btn btn-block btn-default' %>

<%= link_to [@listing.flat, @listing], method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-block btn-danger' do %>
  <span class='glyphicon glyphicon-trash'></span>
<% end %>
