<% heading "#{@flat.name} Rent History" %>

<table class='table table-hover'>
  <thead>
    <tr>
      <th class="text-center">Date</th>
      <th class="text-center">Price</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @listings.each do |listing| %>
      <tr>
        <td class="text-center">
          <%= time_ago_in_words(listing.updated_at) %> ago
        </td>
        <td class="text-center">
          <%= number_to_currency(listing.price, precision: 0) %>
        </td>
        <td class="text-center">
          <%= link_to flat_listing_path(listing.flat, listing), class: 'btn btn-default' do %>
            <span class="glyphicon glyphicon-info-sign"></span>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Listing', new_listing_path, class: 'btn btn-block btn-primary' %>
