<% heading "#{@flat.name} Rent History" %>

<%
@data = {
  datasets: [
    {
      label: "avg price per recorded week",
      backgroundColor: "rgba(54, 162, 235, 0.2)",
      borderColor: "rgba(54, 162, 235, 1)",
      pointRadius: 5,
      pointBorderWidth: 3,
      data: @results.map do |result|
        {
          'x': result['created_at'].to_time.to_i,
          'y': result['avg_price']
        }
      end
    }
  ]
}
@options = {
  showLines: false,
  scales: {
    xAxes: [{
      display: false
    }]
  }
} %>
<center>
  <%= scatter_chart @data, @options %>
</center>

<table class='table table-hover'>
  <thead>
    <tr>
      <th class="text-center">Price</th>
      <th class="text-center">Updated</th>
    </tr>
  </thead>

  <tbody>
    <% @listings.each do |listing| %>
      <tr>
        <td class="text-center">
          <%= number_to_currency(listing.price, precision: 0) %>
        </td>
        <td class="text-center">
          <%= time_ago_in_words(listing.created_at) %> ago
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
