<% heading "#{@flat.name} Rent History" %>

<% @data = {
  labels: @results.map {|result| time_ago_in_words(result['created_at'])},
  datasets: [
    {
      label: "avg price per week",
      backgroundColor: "rgba(54, 162, 235, 0.2)",
      borderColor: "rgba(54, 162, 235, 1)",
      data: @results.map {|result| result['avg_price']}
    }
  ]
} %>
<center>
  <%= line_chart @data %>
</center>

<table class='table table-hover'>
  <thead>
    <tr>
      <th class="text-center">Price</th>
      <th class="text-center">Updated</th>
    </tr>
  </thead>

  <tbody>
    <% @listings.each do |listing| %>
      <tr>
        <td class="text-center">
          <%= number_to_currency(listing.price, precision: 0) %>
        </td>
        <td class="text-center">
          <%= time_ago_in_words(listing.created_at) %> ago
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
