<% heading "#{@flat.name} Rent History" %>

<table class='table table-hover'>
  <thead>
    <tr>
      <th class="text-center">Price</th>
      <th class="text-center">Updated</th>
    </tr>
  </thead>

  <tbody>
    <% @listings.each do |listing| %>
      <tr>
        <td class="text-center">
          <%= number_to_currency(listing.price, precision: 0) %>
        </td>
        <td class="text-center">
          <%= time_ago_in_words(listing.created_at) %> ago
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
